/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    background: rgb(250,178,46);
    
    width: 100vw;
    height: 100vh;
    overflow: hidden; 

    /* background-image: url("https://plus.unsplash.com/premium_photo-1661386158442-868183068c25?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-position: cover;
    background-repeat:no-repeat; */
}

#box{
    border: 2px solid red;
    padding: 50px 50px;
    background: rgba(86, 18, 153, 0.61);
    border-radius: 50%;
    color: aliceblue;
}

p{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-weight:700;
    font-size: 1.5em;
}